.grid {
  display: grid;
}
.grid--1-cols {
  grid-template-columns: 1fr;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(----color-second);
  font-weight: 500;
  font-size: var(--regular-size);
  border: 1px solid var(--color-border);
}

.common-link:hover {
  color: var(--color-third);
}

.header-second {
  font-size: 2.2rem;
  color: var(--color-main);
  margin-bottom: 2.2rem;
}

.header-third {
  font-size: 1.4rem;
  color: var(--color-main);
  font-weight: 500;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.common-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-second);
  cursor: common-link;
}

.center-absolute {
}

.button-play-album {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}

.button-play-album i {
  color: #f4f6f8e0;
}
.link-singer,
.heading-left-item a {
  display: inline-block;
  color: #f4f6f880;
  font-size: 1.3rem;
  text-decoration: none;
}
.link-subject {
  display: inline-block;
  text-decoration: none;
  color: #f4f6f8e0;
  padding: 0.8rem 0;
  font-weight: 500;
  cursor: pointer;
}
.heading-left-item a:hover,
.link-singer:hover,
.link-subject:hover {
  color: var(--color-third);
}

.my-scroll {
  height: calc(100vh - 19.6rem);
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide scroll for chorme */
.my-scroll::-webkit-scrollbar {
  display: none;
}
.wrapper-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
